/* .space {
    width: 220px;
    height: auto;
    display: inline-block;
  }

.container {
    display: flex; 
    width: 100%;
    justify-content: center;
}
  
button {
    background: #c5c9eb;
    color: white;
    border: 0;
    padding: 6px 12px;
    border-radius: 2px;
}
  
.button-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

 */


 * {box-sizing: border-box}

 /* Add padding to containers */
 .container{
  position: absolute;
  left: 20%;
  top: 50%;
  height: 200px;
  margin-top: -350px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}
 /* Full-width input fields */
 input[type=text], input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 10px 0px;
   display: inline-block;
   border: none;
   background: #f1f1f1;
 }
 
 input[type=text]:focus, input[type=password]:focus {
   background-color: #ddd;
   outline: none;
 }
 
 /* Overwrite default styles of hr */
 hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
 
 /* Set a style for the submit/register button */
 .registerbtn {
   background-color: #04AA6D;
   color: white;
   padding: 16px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
 
 .registerbtn:hover {
   opacity:1;
 }
 
 /* Add a blue text color to links */
 a {
   color: dodgerblue;
 }
 
 /* Set a grey background color and center the text of the "sign in" section */
 .signin {
   background-color: #f1f1f1;
   text-align: center;
 }

 a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: none;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: none;
  }



  .login_pic
  {
    float: right;
    margin-top: 100px;
    height: 500px;
  }

  .loginbtn
  {
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-style: solid;
    border-radius: 5px;
    margin-left: 100px;
    color: White;
  }
.button
  {
    background-color: #ffc107;
    border-color:  #ffc107;
    border-style: solid;
    border-radius: 5px;
    color: White;
  }
  .href>a{
    color: White;
  }

  .Login-Singup
  {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: left;
    
  }
  .signUpbtn{
    margin-right: 40px ;
  }