 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbarr navbar-inverse">
    <div class="navbarr">
        <!-- <div class="navbar-header">
            <a class="navbar-brand" href="#" routerLink="/home"> <i class="fa fa-gg-circle" aria-hidden="true"></i> Hotel</a>
        </div> -->
        <!-- ẩn cái chữ Hotel -->
        <a href="#" routerLink="/home" routerLinkActive="active"><i class="fa fa-fw fa-home" ></i> Home</a>
        
        <div class="components">
            <a href="#" routerLink="login" routerLinkActive="active"><i class="fa-regular fa-user"></i> Login</a>
            <a href="#" routerLink="signup" routerLinkActive="active"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign Up</a>
        </div>
    </div>


</nav>



<div class="container">
    <router-outlet></router-outlet>
</div>
