<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- <h3>Department list</h3>
<ul class="items">
    <li (click)="onSelect(department)" *ngFor="let department of departments">
        <a> {{department.id}}</a>
    </li>
</ul>
 -->

<table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="onSelect(department)" *ngFor="let department of departments">
      <td>{{department.id}}</td>
      <td>{{department.name}}</td>
      
      
    </tr>
    </tbody>
  </table>