<div *ngIf="isAuth">

  <h1> ROOM INFO</h1>


  <mat-form-field >
    <mat-label>Room ID</mat-label>
    <input matInput disabled={{!edit}} placeholder="{{this.id}}" [(ngModel)]="id">
  </mat-form-field>
  
  <hr>

  <mat-form-field >

    <mat-label> Room No</mat-label>
    <<input matInput disabled={{!edit}}> placeholder="{{this.room_no}}" [(ngModel)]="room_no">
  </mat-form-field>

  <hr>
  <mat-form-field >
    <mat-label> Room Type</mat-label>
    <input matInput disabled={{!edit}} placeholder="{{this.room_type}}" [(ngModel)]="room_type">
  </mat-form-field>

  <hr>
  <mat-form-field >
    <mat-label> Price</mat-label>
    <input matInput disabled={{!edit}} placeholder="{{this.price}}" [(ngModel)]="price">
  </mat-form-field>

    <hr>
  <mat-form-field >
    <mat-label> Room status</mat-label>
    <input matInput disabled={{!edit}} placeholder="{{this.room_status}}" [(ngModel)]="room_status">
  </mat-form-field>

    <hr>
  <mat-form-field >
    <mat-label> Clean status</mat-label>
    <input matInput disabled={{!edit}} placeholder="{{this.clean_status}}" [(ngModel)]="clean_status">
  </mat-form-field>
</div>