<div *ngIf="isAuth && userDetail">

    <h1 class="user-info"> <strong>USER INFO</strong></h1>


    <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail._id}}" [(ngModel)]="userDetail._id">
    </mat-form-field>

    <hr>

    <mat-form-field>

        <mat-label>Name</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.name}}" [(ngModel)]="userDetail.name">
    </mat-form-field>

    <hr>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.email}}" [(ngModel)]="userDetail.email">
    </mat-form-field>

    <hr>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.password" [(ngModel)]="userDetail.password">
    </mat-form-field>

    <hr>
    <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.dob}}" [(ngModel)]="userDetail.dob">
    </mat-form-field>

    <hr>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.address}}" [(ngModel)]="userDetail.address">
    </mat-form-field>
    <hr>
    <mat-form-field>
        <mat-label>User type</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.type}}" [(ngModel)]="userDetail.type">
    </mat-form-field>

    <hr>
    <mat-form-field>
        <mat-label>Using room</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.roombooked}}" [(ngModel)]="userDetail.roombooked">
    </mat-form-field>
    <hr>

    <mat-form-field>
        <mat-label>Using service's id</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.servicebooked}}" [(ngModel)]="userDetail.servicebooked">

    </mat-form-field>
    <hr>

    <mat-form-field>
        <mat-label>Reward Point</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.point}}" [(ngModel)]="userDetail.point">
    </mat-form-field>
    <hr>
    <mat-form-field>
        <mat-label>User Payment</mat-label>
        <input matInput disabled={{!edit}} placeholder="{{userDetail.payment}" [(ngModel)]="userDetail.payment">
    </mat-form-field>

    <button class="delete_data" mat-raised-button color="accent">Delete</button>
    <button class="show_potentialUser" mat-raised-button color="accent" (click)="payAndPoint()">Print bill & add point</button>
    <button class="show_potentialUser" mat-raised-button color="accent" (click)="payAndPoint()">Reset this room</button>

    <!-- <button class="add_data" mat-raised-button color="accent" (click) = "addUser()" >Add</button>
  <button class="save_data" mat-raised-button color="accent" (click) = "updateUser()">Save</button>
  <button class="show_pass" mat-raised-button color="accent" (click) = "showPass()">Show/hide password</button>
  <button class="show_potentialUser" mat-raised-button color="accent" (click) = "potentialCus()">Show potential user</button> -->




</div>