<div *ngIf="isAuth && userDetail">

    <h1 class="user-info"> <strong>USER INFO</strong></h1>


  <mat-form-field  >
    <mat-label>User ID</mat-label>
    <input matInput  placeholder="{{userDetail._id}}" [(ngModel)]="userDetail._id" readonly>
  </mat-form-field>


    <hr>

    <mat-form-field>

        <mat-label>Name</mat-label>
        <input matInput  placeholder="{{userDetail.name}}" [(ngModel)]="userDetail.name" readonly>
    </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput  placeholder="{{userDetail.name}}" [(ngModel)]="userDetail.name" readonly>
  </mat-form-field>

  <hr>
  <mat-form-field >
    <mat-label>Email</mat-label>
    <input matInput  placeholder="{{userDetail.email}}" [(ngModel)]="userDetail.email" readonly>
  </mat-form-field>

  <hr>
  <mat-form-field >
    <mat-label>Password</mat-label>
    <input matInput  placeholder="{{userDetail.password" [(ngModel)]="userDetail.password" readonly>
  </mat-form-field>

    <hr>
  <mat-form-field >
    <mat-label>Date of Birth</mat-label>
    <input matInput  placeholder="{{userDetail.dob}}" [(ngModel)]="userDetail.dob" readonly>
  </mat-form-field>

    <hr>
  <mat-form-field >
    <mat-label>Address</mat-label>
    <input matInput  placeholder="{{userDetail.address}}" [(ngModel)]="userDetail.address" readonly>
  </mat-form-field>
  <hr>
  <mat-form-field >
    <mat-label>User type</mat-label>
    <input matInput  placeholder="{{userDetail.type}}" [(ngModel)]="userDetail.type" readonly>
  </mat-form-field>

  <hr>
  <mat-form-field >
    <mat-label>Using room</mat-label>
    <input matInput (click)="goRoom()"  placeholder="{{userDetail.roombooked}}" [(ngModel)]="userDetail.roombooked" readonly>
  </mat-form-field>
  <hr>

  <mat-form-field >
    <mat-label>Using service's id</mat-label>
    <input matInput  (click)="goService()" placeholder="{{userDetail.servicebooked}}"  [(ngModel)]="userDetail.servicebooked" readonly>

  </mat-form-field>
  <hr>

  <mat-form-field >
    <mat-label>Reward Point</mat-label>
    <input matInput  placeholder="{{userDetail.point}}" [(ngModel)]="userDetail.point" readonly>
  </mat-form-field>
  <hr>
  <mat-form-field >
    <mat-label>User Payment</mat-label>
    <input matInput  placeholder="{{userDetail.payment}" [(ngModel)]="userDetail.payment" readonly>
  </mat-form-field>

  <button class="delete_data" mat-raised-button color="accent"  >Delete</button>
  <button class="show_potentialUser" mat-raised-button color="accent" (click) = "payAndPoint()">Print bill & add point</button>

  <!-- <button class="add_data" mat-raised-button color="accent" (click) = "addUser()" >Add</button>

  <button class="save_data" mat-raised-button color="accent" (click) = "updateUser()">Save</button>
  <button class="show_pass" mat-raised-button color="accent" (click) = "showPass()">Show/hide password</button>
  <button class="show_potentialUser" mat-raised-button color="accent" (click) = "potentialCus()">Show potential user</button> -->




</div>

