  table{
    margin-top: 10px;
    width: 50%;
    margin-left: -35%;
  }
  /* .mat-column-select {
    overflow: initial;
  } */
  button{

    margin-top: 5%;
    margin-right: 10px;

  }
  mat-paginator{

    margin-top: 5%;

  }
  input{
    width: 180px;
  }
  /* table-user{
    margin-right: 10%;
    ;
  } */
  /* mat-form-field{
    margin-top:10%;
    width: 70%;
  } */
