table{
    margin-top: 10px;
    margin-left: -35%;

  }
  .mat-column-select {
    overflow: initial;
  }
  button{
    margin:auto;
    margin-top: 5%;
    margin-right: 10px;

  }
  mat-paginator{
    margin:auto;
    margin-top: 5%;

  }
  table-user{
    margin-right: 10%;
    ;
  }
  mat-form-field{
    margin-top:10%;
    width: 70%;
  }

  title {
    display: none;
  }

  caption{
    font-size: xx-large;
    margin-bottom: 2%;
    font-style: italic;
  }