
<form action="" method="POST" [formGroup]="formSign" (ngSubmit)="onSign()" style="border:1px solid #ccc" *ngIf="!isLogin">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
      
    <!-- <div class="form-group">
      
      <label for="adfsdfaffasdfemail"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
    </div>       -->

    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" formControlName="email" id="" placeholder="Enter email" required>
    </div>


    <!-- <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    </div> -->


    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" formControlName="password" id="" placeholder="Input field" required>
    </div>

    <!-- <div class="form-group">
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    </div> -->

    <div class="form-group">
      <label for="">Repeat Password</label>
      <input type="password" class="form-control" formControlName="password" id="" placeholder="Repeat Password" required>
  </div>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
      
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue"> <a href="/policy" class="href"><mark>Terms & Policy</mark> </a></a>.</p>
  
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>  
      <br><br>
      <button type="button" class="cancelbtn"><a href="/login" class="href">Already have account? Login</a></button>
        
    </div>
  </div>
</form>

